<slider [slider]="slider"></slider>
<section class="container">
    <div class="col-lg-12">

    </div>
</section>

<section *ngIf="!emptyEvents">
    <div class="container">
        <div class="col-md-8">
            <div *ngFor="let event of events">
                <h2>
                    <a [routerLink]="['/eventos', event.slug]">{{ event.name }}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Fecha inicio: {{event.timePeriod.start | date: 'd MMMM y'}} / Fecha fin:
                    {{event.timePeriod.end | date: 'd MMMM y'}}
                </p>
                <hr>
                <a [routerLink]="['/eventos', event.slug]">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore
                    nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <hr>
            </div>


            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>