:host /deep/ .jumbotron {
    height: 400px;
}

:host /deep/ .image-background {
    background-position-y: center;
}

.dark {
    color: white;
    background-color: #232323;
}

.dark .container {
    padding-bottom: 20px;
}

.dark h2 {
   font-size: 1.5em;
}

.dark h3 {
   font-size: 1.17em;
}

@media (min-width: 992px) {
    :host /deep/ .jumbotron h1 {
        font-size: 53px;
    }

    .dark .page-header {
        padding-bottom: 0px;
        margin: 10px    0 10px;
    }

    .dark h2 {
        font-size: 28px;
    }

    .dark h3 {
        font-size: 22px;
    }
}

#what-you-will-learn .col-xs-12{
    margin-top: 15px;
}


.speaker-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 1;
    background-image: url('img/events/speaker-team-building.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    -webkit-background-size: cover;
}

@media screen and (min-width: 768px) {
    section p {
        font-size: 1.2em;
    }
}

#map {
    height: 300px;
}

.icon_container_small {
    background: #2b74b7;
    height: 30px;
    width: 30px;
    border-radius: 90%;
    margin-top: 4px;
    padding-top: 5px;
    padding-left: 2px;
    font-size: 18px;
}

.icon_container_small i {
    color: white;
}

.media-heading {
    margin-top: 5px;
}

.offer {
    color: white;
    background-color: #232323;
    text-transform: uppercase;
}

.more-info {
    padding: 20px;
}

.more-info button {
    text-transform: uppercase;
    font-size: 1.2em;
}

.modal-body .page-header {
    padding-bottom: 9px;
    margin: 10px 0 10px;
}

.modal-body p {
    font-size: 16px;
}

.panel-title {
    font-size: 2.1em;
}

.price.money .currency{
    font-size: 3.1em;
}

.price.money .amount {
    font-weight: 500; 
    font-size: 5em; 
}

a.btn {
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
}