<slider [slider]="slider"></slider>
<!--<section>
	<div *ngIf="!emptyEvent" class="container">
		<hr>
		<p>
			<i class="fa fa-clock-o"></i> Fecha inicio: {{event.timePeriod.start | date: 'd MMMM y'}} / Fecha fin: {{event.timePeriod.end
			| date: 'd MMMM y'}}</p>
		<hr>
	</div>
</section>-->
<section class="dark">
    <div class="container">
        <div class="col-md-8 center-block">
            <div class="row text-center">
                <h2 class="page-header"><strong>Sábado 10 de Diciembre de <span class="blue">4:00 - 8:00 pm</span></strong></h2>
                <h3><strong>LUGAR: <span class="blue">Avenida Camino Real 111, San Isidro</span></strong></h3>
            </div>
        </div>
    </div>
</section>
<section id="what-you-will-learn">
    <div class="container">
        <div class="col-md-8 center-block">
            <div class="row text-center">
                <h2 class="page-header"><strong>QUE VAS A APRENDER EN EL <span class="blue">TALLER</span></strong></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">¿Qué es el coaching?: Fundamentos y Características</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Team Building: La importancia del trabajo en Equipo</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Descubriendo "La Quinta disciplina"</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cómo mejorar mis habilidades sociales. Aplicaciones practicas</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Pasos a seguir para desarrollar una dinámica de grupo exitosa</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left pr-20">
                            <div class="icon_container_small">
                                <i class="fa fa-check "></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Desarrollo de dinámicas</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="speaker" class="gray">
    <div class="container">
        <div class="col-md-10 center-block">
            <div class="row">
                <div class="col-lg-3">
                    <div class="speaker-image"></div>
                </div>
                <div class="col-lg-9">
                    <h3><strong>BIG SPEAKER: <span class="blue">Martín Rey Martínez</span></strong></h3>
                    <p>Psicólogo de profesión, es magister en problemas de aprendizaje y cuenta con una licenciatura en educación.
                        Es coach de desarrollo personal potenciando a jovenes y a emprendedores. </p>
                    <p>Docente universitario y Facilitador en talleres de emprendimiento del programa Emprende Miraflores. Cuenta
                        con una amplia experiencia en temas de Team Building, desarrollo personal y liderazgo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ticket">
    <div class="container">
        <div class="col-md-8 text-center center-block">
            <div class="row page-header">
                <h2><strong>Elige tu modalidad de pago:</strong></h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Estándar</h3>
                        </div>
                        <div class="panel-body">
                            <div class="price money">
                                <span class="currency">S/.</span>
                                <span class="amount">130</span>
                            </div>
                            <p>Precio regular del 28 de noviembre al 10 de diciembre</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary" (click)="moreInfo.show()">Inscríbeme</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Premiun</h3>
                        </div>
                        <div class="panel-body">
                            <div class="price money">
                                <span class="currency">S/.</span>
                                <span class="amount">110</span>
                            </div>
                            <p>Precio regular del 07 de Noviembre al 27 de Noviembre</p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary" (click)="moreInfo.show()">Inscríbeme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="location" class="gray">
    <sebm-google-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="map.zoom">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude">
        </sebm-google-map-marker>
    </sebm-google-map>
</section>

<div bsModal #moreInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="moreInfo.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-10 text-center center-block">
                    <div class="row page-header">
                        <h2><strong>Pago deposito</strong></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8 center-block">
                            <img alt="Interbank" src="img/events/interbank.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <h3>Cta. ahorros (soles): 045-3083412781</h3>
                        <p>Al hacer el respectivo deposito enviar el voucher al correo:
                            <a href="hola@businessideasgroup.com">hola@businessideasgroup.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>