:host /deep/ .jumbotron {
    height: 400px;
}

:host /deep/ .image-background {
    background-position-y: center;
}

.speaker-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    opacity: 1;
    background-image: url('img/events/speaker-team-building.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    -webkit-background-size: cover;
}

@media screen and (min-width: 768px)
{
    section p{
        font-size: 1.2em;
    }
}

#map {
    height: 300px;
}