<slider [title]="slider.title" [imageURL]="slider.image" [message]="slider.message"></slider>
<section id="what-you-will-learn">
    <div class="container">
        <div class="col-md-8 center-block text-center">
            <div class="row">
                <h2 class="page-header"><strong>QUE VAS A APRENDER EN EL <span class="blue">TALLER</span></strong></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="icon-ball">
                        <span aria-hidden="true" class="glyphicon glyphicon-education"></span>
                    </div>
                    <h4><strong>WEBSITE ANALYTICS</strong></h4>
                    <p>You'll start by learning how to evaluate your website and identify conversion goals, measure and interpret
                        website analytics, get the most out of SEO, and set up your first text and display ads</p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="icon-ball">
                        <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
                    </div>
                    <h4><strong>SOCIAL MARKETING</strong></h4>
                    <p>See how to connect with communities on the leading social networks, learn best practices for developing
                        and distributing video marketing content, and find out how to have success.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="speaker" class="gray">
    <div class="container">
        <div class="col-md-10 center-block">
            <div class="row">
                <div class="col-lg-3">
                    <div class="speaker-image"></div>
                </div>
                <div class="col-lg-9">
                    <h3><strong>BIG SPEAKER: <span class="blue">RAVEN RED</span></strong></h3>
                    <p>Raven has spent more than twelve years doing research on websites, marketing, and social media. She was
                        featured in Entrepreneur Magazine as a young entrepreneur, launching her first successful business
                        at the age of 15.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div *ngIf="!emptyEvent" class="container">


        <div class="col-lg-8">
            <hr>
            <!-- Date/Time -->
            <p>
                <i class="fa fa-clock-o"></i> Fecha inicio: {{event.timePeriod.start | date: 'd MMMM y'}} / Fecha fin: {{event.timePeriod.end
                | date: 'd MMMM y'}}</p>
            <hr>
            <!--<div *ngFor="let ticket of event.tickets" class="panel panel-default" style="border-left-color:#337ab7; border-left-width: 5px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline">
                                <li>
                                    <h3 style="margin-top:0px;">{{ticket.name}}</h3>
                                </li>
                                <li>
                                    <p style="display:inline-block;">Disponibles:
                                        <span class="badge">{{ticket.quantityAvailable}}</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option *ngFor="let ticket of numberOfTickets(ticket)">{{ticket}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ticket.price.amount | currency:ticket.price.currency:true}}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a [routerLink]="['/registrarme/al/evento',event.name]" class="btn btn-primary">Registrate</a>
            </div>

            <hr>-->

            <!-- Post Content -->
            <p>{{event.description}}</p>
            <p>{{event.description}}</p>
            <p>{{event.description}}</p>
            <p>{{event.description}}</p>

            <hr>

            <!-- Comments -->

            <!-- Comments Form -->
            <!--<div class="well">
                <h4>Leave a Comment:</h4>
                <div role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <hr>-->

            <!-- Comments -->

            <!-- Comment -->
            <!--<div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
                    in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </div>-->

            <!-- Comment -->
            <!--<div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
                    in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
                            in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                            lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</section>