.service .caption{
    margin-top: -20px;
}

.service{
    border: none;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 400px;
}

.carousel-caption{
    top: 15%;
}

.carousel-caption h3{
    font-size: 2.5em;
}

.carousel-caption p{
    font-size: 1.5em;
}
    
@media screen and (min-width: 768px)
{
    section .container{
        padding-top: 50px;
    }
    
    section p{
        font-size: 1.2em;
    }
    
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        height: 620px;
        width: 100%;
    }
    
    .carousel-caption{
        top: 30%;
    }
    
    .carousel-caption h3{
        font-size: 5em;
    }
    
    .carousel-caption p{
        font-size: 2em;
    }
}