@import url('partials/loading.css');
@import url('partials/header.css');
@import url('partials/footer.css');
@import url('absolute-background.css');
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/* Global Styles */

html,
body {
    height: 100%;
}

i {
    margin-left: 5px;
    margin-right: 2px;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
}

#header .page-header {
    text-transform: none;
}

.page-header {
    border-bottom: none;
    text-transform: uppercase;
}

.page-header small {
    text-transform: none;
}

.gray {
    background-color: #E7E7E7;
}

a:hover {
    text-decoration: none;
}

main>.row {
    margin: 0;
}

section .container {
    padding-bottom: 30px;
    padding-top: 30px;
}

@media screen and (min-width: 768px) {
    section .container {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    section p {
        font-size: 1.4em;
    }
}

section .glyphicon {
    font-size: 4em;
}

/*Change this*/

.jumbotron .container {
    color: white;
}

.jumbotron {
    height: 300px;
    margin-bottom: -20px;
}

.jumbotron h1 {
    text-transform: uppercase;
}

.jumbotron.absolute-background .content {
    top: 30%;
}

.center-block {
    float: none;
}


@media (max-width: 480px) {
  #scroll-up {
    display: none;
  }
}

#scrollUp {
    padding: 20px;
    background: #2b74b7;
    font-size: 20px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.blue {
    color: #2b74b7;
}

