<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="page-header">Organizaciones que nos apoyan</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 center-block text-center">
                <div class="sponsor col-md-offset-1 col-md-5 col-xs-12">
                    <a href="http://www.emprendedorperuano.pe/">
                        <img id="hakan" class="img-responsive" src="img/sponsors/hakan-innovations.png"
                            alt="Emprendedor Peruano">
                    </a>
                </div>
                <div class="sponsor col-md-6 col-xs-12">
                    <a href="http://asep.pe/">
                        <img class="img-responsive" src="img/sponsors/asep.png"
                            alt="Asociación de Emprendedores de Perú">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
