<carousel [interval]="3000">
    <slide *ngFor="let slide of slides; let index=index" [active]="slide.active">
        <div id="slide-{{index}}" class="image-background">
            <img class="black-background" />
            <div class="carousel-caption">
                <h3>{{slide.phrase}}</h3>
                <p *ngIf="slide.subphrase">{{slide.subphrase}}</p>
            </div>
        </div>
    </slide>
</carousel>
<section id="about-us">
    <div class="container">
        <div class="col-md-8 center-block text-center">
            <h2 class="page-header">Nosotros</h2>
            <p>BIG es una empresa peruana que fomenta la cultura emprendedora en el país a través de talleres, seminarios, cursos y conferencias en temas de negocios y TI.</p>
        </div>
    </div>
</section>
<section class="gray" id="services">
    <div class="container">
        <div class="col-md-8 center-block text-center">
            <h2 class="page-header">Nuestros servicios</h2>
        </div>
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <div class="col-md-4 col-xs-12">
                    <div class="icon-ball">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    </div>
                    <h4>Cursos</h4>
                </div>
                <div class="col-md-4 col-xs-12">
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                    <h4>Talleres y Seminarios</h4>
                </div>
                <div class="col-md-4 col-xs-12">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <h4>Conferencias</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<sponsors></sponsors>