:host /deep/ #slide-0 {
    background-image: url(../img/home/slider/world.jpg);
}

:host /deep/ #slide-1 {
    background-image: url(../img/home/slider/study.jpg);
}

:host /deep/ #slide-2 {
    background-image: url(../img/home/slider/business-people.jpg);
    background-position: center 0px;
}

.image-background {
    background-position: 0px;
}

.black-background {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.25);
}

.service .caption {
    margin-top: -20px;
}

.service {
    border: none;
}

img.black-background {
    height: 400px;
}

.carousel-caption {
    top: 15%;
}

.carousel-caption h3 {
    font-size: 2.5em;
}

.carousel-caption p {
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {
    img.black-background {
        height: 620px;
        width: 100%;
    }
    .carousel-caption {
        top: 30%;
    }
    .carousel-caption h3 {
        font-size: 5em;
    }
    .carousel-caption p {
        font-size: 2em;
    }
}